.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#babylon-canvas {
  /* position: relative; */
  position : absolute;
  top : 0;
  left : 0;
  width:100%;
  height: 100%;
  z-index: 1;
}

.dom-overlay-container {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 2;
  background: #FFAF00;
  opacity: 0.75;
}